/* GENERAL ------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d8 15%,
        #dfe0d8 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #eee;
}

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
}

/* LEFT SIDE ----------------------------------------------*/

.side-navigation {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    background: #fff;
}

/* HEADER -------------------------------------------------*/

.side-navigation .user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 10px;
    background: #ededed;
    border-right: 1px solid #dbdbdb;
}

.side-navigation .user-header .user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navigation .user-icon > img {
    width: 48px;
    border-radius: 50%;
}

.side-navigation .user-icon > span {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
}


.side-navigation .user-header .left-icons i {
    font-size: 1.3rem;
    margin-right: 15px;
    color: #bababa;
}



/* NOTIFICA -----------------------------------------------*/

.side-navigation .box-notifica {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 9%;
    background: #a2dffe;
}

.side-navigation .box-notifica .icon-mute {
    padding: 10px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.side-navigation .box-notifica .icon-mute i {
    font-size: 1.3rem;
    color: #a2dffe;
}

.side-navigation .box-notifica .box-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.side-navigation .box-info span:first-child {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.side-navigation .box-info span:last-child {
    font-size: .8rem;
    font-weight: bold;
    text-decoration: underline;
    color: #608294;
}


/* INPUT --------------------------------------------------*/

.side-navigation .input-box {
    display: flex;
    align-items: center; 
    padding: 25px 5px;
    width: 100%;
    height: 6%;
    background: #fbfbfb;
}

.side-navigation .input-box .items-box {
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    flex-grow: 1;
}

.side-navigation .input-box .items-box input {
    border: none;
    padding: 10px;
    padding-left: 40px;
    outline: none;
    width: 90%;
}

.side-navigation .input-box .items-box input::placeholder {
    color: #dddee0;
}

.side-navigation .input-box .items-box i {
    margin-left: 30px;
    color: #bec1c3;
    cursor: pointer;
}


/* CHAT LIST ----------------------------------------------*/

.side-navigation .chat-list {
    flex-grow: 1;
    background: #fff;
    display: flex;
}

.side-navigation .chat-list ul {
    list-style: none;
    width: 100%;  
}

.side-navigation .chat-list .userlist {
    cursor: pointer;
    transition: background .3s;
}

.side-navigation .chat-list .userlist:hover {
    background: #eee;
}


.side-navigation .chat-list .userlist {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}

.side-navigation .chat-list .userlist:first-child {
    border-top: none;
}

.side-navigation .chat-list .userlist:last-child {
    border-bottom: none;
}

.side-navigation .chat-list .userlist img {
    width: 56px;
    border-radius: 50%;
}

.side-navigation .chat-list .userlist span {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
}


/* RIGHT SIDE ---------------------------------------------*/

.side-chat {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

/* HEADER -------------------------------------------------*/

.side-chat .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 10px;
    background: #ededed;
}

.side-chat .chat-header .user2-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-chat .chat-header .box-chat {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.side-chat .user2-icon .box-chat span:first-child { 
    font-size: 1rem;
    font-weight: bold;
}

.side-chat .user2-icon .box-chat span:last-child {
    color: #777e82;
    margin-top: 5px;
    font-size: .9rem;
    font-weight: bold;
}

.side-chat .chat-header .user2-icon > img {
    width: 48px;
    border-radius: 50%;
}

.side-chat .chat-header .right-icons i {
    font-size: 1.3rem;
    margin-right: 15px;
    color: #bababa;
}

/* CHAT MAIN ----------------------------------------------*/

.side-chat .chat-main {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    padding: 20px 70px;
    overflow-y: auto;
}

.chat-left,
.chat-right {
    display: flex;
}

.chat-right {
    justify-content: flex-end;
}

.chat-right .message-in {
    background: #ddfabf;
}

.chat-left .message-in {
    background: #fff;
}

.side-chat .chat-window-in {
    width: 320px;
}

.side-chat .chat-window-out {
     width: 320px;
}

.side-chat .chat-window-in .message-in {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}


.message-in > div {
    font-size: .9rem;
    font-weight: bold;
}

.side-chat .message-time {
    font-size: 10px;
    padding-top: 15px;
    align-self: flex-end;
    color: #bec1c3;
}

/* FOOTER -------------------------------------------------*/

.side-chat .chat-footer {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f0ec;
}

.side-chat .chat-footer .footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.side-chat .chat-footer .footer-box:nth-child(2) {
    width: 80%;
}

.side-chat .chat-footer .footer-box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 19px;
    border-radius: 5px;
}

.side-chat .chat-footer .footer-box input::placeholder {
    color:#959595;
}

.side-chat .chat-footer .footer-box i {
    color: #777e82;
    font-size: 1.6rem;
}
